$header-color: #ffd800;
$header-bg-color: #000000;

.header {
  background-color: $header-bg-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: $header-color;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__logo {
    font-weight: 700;
    font-size: 1.7rem;
    text-decoration: none;
  }

  &__menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
  }
}
