.mainsite {
  &__image--wraper {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    &__image {
      width: 100%;
      height: auto;
      filter: brightness(0.75);
      animation: img 4s infinite;
    }

    @keyframes img {
      0% {
        opacity: 0;
      }
      7% {
        opacity: 1;
      }
      93% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
