.mainsite {
  .mainsite__image {
    filter: brightness(0.75);
    animation: img 4s infinite;
  }

  @keyframes img {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .mainsite__image--invisible {
    opacity: 0;
  }
}
